/*
  Переменные для вашего проекта
  и их переопределение под различные устройства

*/

:root {
  --background-page-image: url(../images/cover-image-dark.png);
  --background-page-color: #000028;
  --text-focus-color: #db00ff;
  --background-accent-color: #ff0070;
  --text-h2-color: #ff0070;
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --menu-text-color: #ff0070;
  --button-border-active: 1px solid #ff0070;
  --button-border-hover: 1px solid #ff006f66;
  --button-border-focus: 1px solid #ff0070;
  --shadow-color: #ff0070;
  --decoration-color: #ff0070;
  --text-link-shadow: 2px 2px 0 var(--shadow-color);
  --text-link-border-focus: 1px solid var(--text-color);
  --text-font-family: "IBM Plex Mono", serif;
  --text-font-size: 18px;
  --pc-and-tab-page-padding: 20px;
  --mobile-page-padding: 10px;
  --header-decoration: inline-block;
}
